# Python
__pycache__/
*.pyc
venv/

# Database
backend/instance/*.db
backend/*.db

# Environment
.env

# Node
node_modules/
frontend/node_modules/

# IDE
.vscode/
.idea/
.DS_Store

# Build
build/
frontend/dist/
*.log
*.coverage